.navbar-colour{
    background-color: #C70101;
}

#loggedin{
    display: inline-flex;
  }
  
  #user-name{
    padding-left: 100px;
    padding-right: 10px;
    margin-top: 10px;
  }
  
  #profilepic{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin: 0;
  }

.restaurant{
    width: 1000px;
    height: 300px;
    margin-left: 100px;
}

.restaurant-thumb{
    margin-left: 120px;
    margin-top: 50px;
}

.restaurant-info{
    margin-top:35px;
    padding: 15px;
    width: 300px;
}

.filter-row{
    display: flex;
    justify-content: space-around;
    position: absolute;
    margin-top: 50px;
    margin-left: 100px;
    
  }

  .filter-container{
      display: inline-flex;
      
  }



  .custom-select{
      margin-left: 50px;
      margin-right: 50px;
      
  }

  .dollar{
      font-size: 35px;
      color: green;
      font-weight: bold;
  }

  .review-title{
      margin-top: 100px;
  }

  .review-text{
      width: 800px;
      margin-left: 100px;
     
  }

  .green-border-focus .form-control:focus {
    border: 1px solid #8bc34a;
    box-shadow: 0 0 0 0.2rem rgba(139, 195, 74, .25);
}

  .row{
      width: 900px;
  }

  .rate{
      float: left;
      margin-left: 100px;
  }

  .photo{
      height: 50px;
      margin-left: 200px
  }

  #post{
      margin-left: 100px;
      margin-top: 100px;
      padding: 10px;
      width: 150px;
  }

  .dropdown:hover>.dropdown-menu {
    display: block;
  }
  
  .dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
      pointer-events: none;
  }
  
  